<h1><%= @house.name %></h1>
<h2><%= @character.house.name %></h2>
<img src="<%= @house.banner_img %>">
<h2><%=house.quote%></h2>
<div class="character">
  <img src="<%= image_tag @character.img_url %>">
</div>
