<h2>Create Character</h2>
<%= form_for [@character.house, @character] do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :img_url %>
<%= f.text_field :img_url %>

<%= f.label :house_id %>
<%= f.text_field :house_id %>

<%= f.submit %>
<% end %>
